.faq-replace {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

#faq-replace-questions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#faq-replace-questions-container > div {
    height: 40px;
    padding: 12px;
    border-radius: 5px;
    font-size: var(--heading-font-size-l);
    font-weight: var(--font-weight-m);
    width: 200px;
    margin: 6px;
    display: flex;
    align-items: center;
}

#faq-replace-answer-container {
    font-size: var(--body-font-size-l);
    line-height: var(--font-line-height-l);
    margin: 15px;
}

#faq-replace-questions-container picture{
    height: 50px;
    width: 50px;
    padding-right: 10px;

    /* take any image information, turn it black, then apply a chain of filters to get to the blue color needed (#002855) */
    filter: brightness(0) invert(11%) sepia(98%) saturate(1796%) hue-rotate(196deg) brightness(89%) contrast(102%);
}

@media (min-width: 1000px) {
    #faq-replace-questions-container {
        justify-content: left;
        width: 336px;
    }

    .faq-replace {
        display: flex;
        flex-direction: row;
    }

    #faq-replace-questions-container > div {
        height: 67px;
        width: 300px;
        margin: 6px;
        display: flex;
        align-items: center;
    }

    #faq-replace-answer-container {
        margin: 60px;
        width: 100%;
    }

    #faq-replace-questions-container picture {
        padding-right: 20px;
    }
}

#faq-replace-questions-container .active > picture, #faq-replace-questions-container .inactive:hover > picture {
    /* turn any image information black, then invert to white */
    filter: brightness(0) invert(1);
}

#faq-replace-questions-container>div>div {
    display: none;
}

#faq-replace-questions-container .active, #faq-replace-questions-container>div:hover {
    background-color: var(--text-color);
    color: #fff;
}

#faq-replace-questions-container .inactive {
    background-color: rgb(126 156 191 / 15%);
}
