/* slidercontainer */
.quote-carousel-wrapper {
    background-color: white; /* remove me */
    height: 420px;
    position: relative;
    overflow: hidden;
}

/* inner-slider */
.quote-carousel {
    width: 150%;
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.aphorist {
    display:flex;
    vertical-align: baseline;
    padding: 0 60px;
    flex-grow: 1;
}

.aphorist ul, .aphorist li{
    margin: 0;
    padding: 0;
}

.aphorist>ul>li:nth-child(1) {
    font-weight: var(--font-weight-l);
}

.aphorist img{
    height: 65px;
    padding-right: 20px;
}

.quotecard {
    background-color: white;
    min-width: 380px;
    max-width: 380px;
    min-height: 380px;
    max-height: 380px;
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    opacity: .3;
}

.quotecard p{
    margin: 0;
    padding: 40px 65px 0;
    flex-grow: 999;
}

.quotecard.active, .quotecard.active p {
    background-color: var(--text-color);
    color: white;
    opacity: 1;
}

.quote-icon {
    display: block;
    width: 65px;
    height: 65px;
    background-image: url('/media_10788bcbb6db2e4b2bad4e416ea24c809ebb030b0.png#width=150&height=150&format=webply&optimize=medium');
    background-size: cover;
    position: absolute;
}

.quotecard.active .quote-icon {
    background-image: url('/media_13850cfda22f885dd74d8241ff10b9458b1b0dfac.png#width=150&height=150&format=webply&optimize=medium');
}
