/* block specific CSS goes here */

:root {
  --hero-height: 178px;
  --hero-height-desktop: 354px;
  --hero-heading-font-size-h1: 32px;
  --hero-heading-font-size-h2: 14px;
}

@media (min-width: 1000px) {
  :root {
    --hero-heading-font-size-h1: 56px;
    --hero-heading-font-size-h2: 21px;
  }
}

/* block specific CSS goes here */
main .hero-wrapper {
  max-width: unset;
}

main .hero-container {
  max-width: unset;
  position: relative;
  top: calc(0px - var(--nav-height));
  padding: 0;
  margin-bottom: calc(0px - var(--nav-height));
  background-image: url('/media_1702b8b19fe5b7dbded179ab832dcb32b1b3005ba.png?width=2000&format=webply&optimize=medium');
  background-size: 100%;
}

main .hero {
  position: relative;
  padding: 0;
  padding-top: var(--nav-height);
  height: var(--hero-height);
  display: flex;
  flex-direction: column;
}

main .hero .left,
main .hero .right {
  width: 100%;
  text-align: center;
}

@media (min-width: 1000px) {
  main .hero {
    height: var(--hero-height-desktop);
    flex-direction: row;
  }

  main .hero .left,
  main .hero .right {
    width: 50%;
    text-align: left;
  }

  main .hero .left {
    margin-left: 100px;
  }
}

main .no-background {
  max-width: 1425px;
  margin-left: auto;
  margin-right: auto;
  height: unset;
  padding-top: 70px;
}

@media (min-width: 1200px) {
  main .hero .left {
    margin-left: 200px;
  }
}

.hero a.button{
  margin: 0 auto 76px;
}

@media (min-width: 1000px){
  .hero a.button {
    float: left;
    width:285.8px;
  }
}

.hero h1,
.hero h2 {
  color: var(--navigation-text-color);
}

main .hero h1 {
  max-width: 350px;
  margin: 75px auto 0;
  line-height: 1.05;
  font-size: var(--hero-heading-font-size-h1);
}

main .hero h2 {
  max-width: 350px;
  text-transform: uppercase;
  margin: 20px auto 75px;
  line-height: 1.15;
  font-weight: 900;
  font-size: var(--hero-heading-font-size-h2);
}

@media (min-width: 1000px) {
  main .no-background {
    height: unset;
    padding-top: 122px;
  }

  main .hero h1,
  main .hero h2 {
    max-width: 450px;
    margin-left: 0;
  }
}

main .hero > div > div > picture {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero .right img {
  max-width: 375px;
}

@media (min-width: 1000px) {
  main .hero .right img {
    max-width: none;
  }
}

main .hero-footer {
  background-image: url('/media_1afdc58966db5b7c243bf6dc251c4dc878da97c7a.png?width=2000&format=webply&optimize=medium');
  background-size: cover;
  height: 71px;
  font-weight: 900;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  max-width: 375px;
  margin: auto;
  display: flex;
  margin-top: -10px;
  align-items: center;
  justify-content: center;
}

main .hero-footer.scrolled {
  position: fixed;
  top: 70px;
  z-index: 5;
}

main .hero-footer h3 {
  margin: 0 25px;

}

@media (min-width: 1000px) {
  main .hero-footer {
    width: 100%;
    max-width: unset;
    margin-top: 0;
  }
}
