/* block specific CSS goes here */

:root {
  --hero-height: 178px;
  --hero-height-desktop: 354px;
}

/* block specific CSS goes here */
main .hero-wrapper {
  max-width: unset;
}

main .hero-container {
  max-width: unset;
  position: relative;
  top: calc(0px - var(--nav-height));
  padding: 0;
  padding-top: var(--nav-height);
  margin-bottom: calc(0px - var(--nav-height));
  background-image: url('/media_1702b8b19fe5b7dbded179ab832dcb32b1b3005ba.png?width=2000&format=webply&optimize=medium');
  background-size: 100%;
}

main .hero {
  position: relative;
  padding: 0;
  height: var(--hero-height);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .hero .left,
main .hero .right {
  width: 50%;
}

@media (min-width: 1000px) {
  main .hero {
    height: var(--hero-height-desktop);
    flex-direction: row;
  }

  main .hero .left,
  main .hero .right {
    width: 100%;
  }

  main .hero .left {
    margin-left: 100px;
  }
}

main .no-background {
  height: unset;
}

main .hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

main .hero > div > div > picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}