main .section.callout-container {
  padding: 0;
}

main .section .callout-wrapper {
  margin: 0;
  max-width: unset;
  position: relative;
}

main .section .callout-wrapper picture:nth-of-type(1) {
  display: none;
}

main .section .callout-wrapper picture:nth-of-type(2) > img {
  margin: auto;
  display: block;
}

main .section .callout-wrapper h2 {
  display: block;
  margin: 50px auto;
  padding: 0 15px;
  text-align: center;
}

@media (min-width: 1000px) {
  main .section .callout-wrapper picture:nth-of-type(1) {
    display: block;
  }

  main .section .callout-wrapper picture:nth-of-type(2) {
    display: none;
  }

  main .section .callout-wrapper h2 {
    color: white;
    bottom: 0;
    right: 50%;
    margin-right: -50%;
    left: 50%;
    margin-left: -50%;
    position: absolute;
  }
}