.featured .featured-recipes {
  display: flex;
  flex-direction: column;
}

.featured.plain .featured-recipes {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.featured .featured-recipe {
  width: 452px;
  height: 325px;
  margin: 0.75rem auto 0;
  position: relative;
  max-width: 100%;
}

.featured .featured-recipe .featured-recipe-image {
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity .1s ease-out;
  position: relative;
  opacity: 1;
}

.featured.plain .featured-recipe .featured-recipe-image:not(.featured-recipe-button) {
  opacity: .55;
}

.featured .featured-recipe .featured-recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured .featured-recipe span {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
  transition: color .3s ease-out;
  text-transform: uppercase;
  font-weight: var(--font-weight-l);
  font-size: var(--body-font-size-m);
}

.featured.plain .featured-recipe span {
  display: block;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);
  color: var(--text-color);
}

.featured .featured-recipe.button-container a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 1.25rem;
  height: auto;
}

.featured .featured-recipe:hover {
  background-color: var(--text-color);
}
  
.featured.special .featured-recipe .featured-recipe-image:hover {
  opacity: .55;
}
  
.featured .featured-recipe .featured-recipe-image:hover + span {
  color: var(--background-color);
  display: block;
}

@media (min-width: 1152px) {
  .featured.special .featured-recipes {
    flex-direction: row;
  }

  .featured.special .featured-recipe {
    margin: 0.75rem 0 0;
  }

  .featured.plain .featured-recipe {
    margin: 0.75rem;
  }

  .featured .featured-recipes-left {
    width: 50%;
  }

  .featured .featured-recipes-left .featured-recipe {
    width: 96%;
    height: 720px;
  }

  .featured .featured-recipes-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .featured .featured-recipes-right .featured-recipe {
    width: 48%;
    height: 350px;
  }

  .featured.special .featured-recipe .featured-recipe-image img {
    object-fit: fill;
  }
}

@media (min-width: 1000px) {
  .featured.plain .featured-recipes {
    flex-direction: row;
  }
}
