main .embed {
    width: unset;
    text-align: center;
    max-width: 800px;
    margin: 32px auto;
}

main .embed .embed-placeholder {
  overflow: hidden;
  border-radius: 5px;
}

main .embed .embed-placeholder img {
  width: 100%;
  height: auto;
  transition: all .7s cubic-bezier(.2,1,.22,1);
  transform: translateZ(0) scale(1.05);
}

main .embed .embed-placeholder:hover img {
  transform: scale(1.14);
}
  