@font-face {
  font-family: proxima-nova-condensed;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/proxima-nova-condensed.woff2') format('woff2');
}

@font-face {
  font-family: proxima-nova-condensed;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/proxima-nova-condensed-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-Thin_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-ThinItalic_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-Light_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-LightItalic_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-Book_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-BookItalic_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-Medium_Web.woff2') format('woff2');
}


@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-MediumItalic_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-Semibold_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-SemiboldItalic_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-Bold_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-BoldItalic_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-Black_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-BlackItalic_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-Ultra_Web.woff2') format('woff2');
}

@font-face {
  font-family: 'HCo Ringside Extra Wide';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/RingsideExtraWide-UltraItalic_Web.woff2') format('woff2');
}