/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #002855;
  --navigation-text-color: #fff;
  --header-text-color: #002855;
  --highlight-text-color: #7f5732;
  --columns-text-color: black;

  /* fonts */
  --body-font-family: proxima-nova-condensed, proxima-nova-condensed-fallback, sans-serif;
  --heading-font-family: 'HCo Ringside Extra Wide', 'HCo Ringside Extra Wide Fallback', sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --font-weight-s: 400;
  --font-weight-sm: 600;
  --font-weight-m: 700;
  --font-weight-l: 900;
  --font-line-height-s: 1.35;
  --font-line-height-m: 1.55;
  --font-line-height-l: 1.65;

  /* body sizes */
  --body-font-size-xl: 24px;
  --body-font-size-l: 21px;
  --body-font-size-m: 14px;
  --body-font-size-s: 12px;
  --body-font-size-xs: 10px;

  /* heading sizes */
  --heading-font-size-xxl: 24px;
  --heading-font-size-xl: 21px;
  --heading-font-size-l: 14px;
  --heading-font-size-m: 12px;
  --heading-font-size-s: 11px;
  --heading-font-size-xs: 10px;

  /* button font sizes */
  --button-font-size: 18px;

  /** Footer font size */
  --footer-font-size: 16px;

  /* Recipe title font size */
  --recipe-title-font-size: 21px;

  /* nav and footer height */
  --nav-height: 70px;
  --footer-height:40.2rem;
}

@media (min-width: 1000px) {
  :root {
    --heading-font-size-xxl: 56px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 21px;
    --heading-font-size-m: 18px;
    --heading-font-size-s: 15px;
    --heading-font-size-xs: 12px;
    --body-font-size-l: 26px;
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;
    --footer-height:22.8rem;
  }
}

@media (min-width: 1152px) {
  :root {
    --recipe-title-font-size: 24px;
  }
}

@font-face {
  font-family: proxima-nova-condensed-fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 108.50%;
  descent-override: 46.26%;
  line-gap-override: 0.00%;
  size-adjust: 83.87%;
}

@font-face {
  font-family: proxima-nova-condensed-fallback;
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 110.76%;
  descent-override: 47.22%;
  line-gap-override: 0.00%;
  size-adjust: 82.16%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: normal;
  font-weight: 200;
  src: local('Arial');
  ascent-override: 77.01%;
  descent-override: 16.04%;
  line-gap-override: 3.21%;
  size-adjust: 124.66%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: italic;
  font-weight: 200;
  src: local('Arial Italic');
  ascent-override: 78.42%;
  descent-override: 16.34%;
  line-gap-override: 3.27%;
  size-adjust: 122.42%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 76.58%;
  descent-override: 15.95%;
  line-gap-override: 3.19%;
  size-adjust: 125.37%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: italic;
  font-weight: 300;
  src: local('Arial Italic');
  ascent-override: 77.98%;
  descent-override: 16.25%;
  line-gap-override: 3.25%;
  size-adjust: 123.11%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 76.11%;
  descent-override: 15.86%;
  line-gap-override: 3.17%;
  size-adjust: 126.14%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: italic;
  font-weight: 400;
  src: local('Arial Italic');
  ascent-override: 77.49%;
  descent-override: 16.14%;
  line-gap-override: 3.23%;
  size-adjust: 123.89%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 75.64%;
  descent-override: 15.76%;
  line-gap-override: 3.15%;
  size-adjust: 126.92%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: italic;
  font-weight: 500;
  src: local('Arial Italic');
  ascent-override: 77.01%;
  descent-override: 16.04%;
  line-gap-override: 3.21%;
  size-adjust: 124.66%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 81.17%;
  descent-override: 16.91%;
  line-gap-override: 3.38%;
  size-adjust: 118.27%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: italic;
  font-weight: 600;
  src: local('Arial Bold Italic');
  ascent-override: 82.67%;
  descent-override: 17.22%;
  line-gap-override: 3.44%;
  size-adjust: 116.13%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 80.57%;
  descent-override: 16.79%;
  line-gap-override: 3.36%;
  size-adjust: 119.14%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: italic;
  font-weight: 700;
  src: local('Arial Bold Italic');
  ascent-override: 82.08%;
  descent-override: 17.10%;
  line-gap-override: 3.42%;
  size-adjust: 116.96%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: normal;
  font-weight: 800;
  src: local('Arial Bold');
  ascent-override: 79.74%;
  descent-override: 16.61%;
  line-gap-override: 3.32%;
  size-adjust: 120.40%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: normal;
  font-weight: 800;
  src: local('Arial Bold');
  ascent-override: 81.16%;
  descent-override: 16.91%;
  line-gap-override: 3.38%;
  size-adjust: 118.29%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: normal;
  font-weight: 900;
  src: local('Arial Bold');
  ascent-override: 78.99%;
  descent-override: 16.46%;
  line-gap-override: 3.29%;
  size-adjust: 121.54%;
}

@font-face {
  font-family: 'HCo Ringside Extra Wide Fallback';
  font-style: italic;
  font-weight: 900;
  src: local('Arial Bold Italic');
  ascent-override: 80.37%;
  descent-override: 16.74%;
  line-gap-override: 3.35%;
  size-adjust: 119.45%;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--columns-text-color);
  background-color: var(--background-color);
  display: none;
  font-weight: 400;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 900;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  color: var(--header-text-color);
}

h1 {
  font-size: var(--heading-font-size-xxl);
  text-transform: uppercase;
}
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }


p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, main button {
  background-image: url('/media_1372b1ee12bd67fae1385a9639f30737bfa554606.png?width=521&height=112&format=webply&optimize=medium');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-size: 100% 100%;
  font-weight: 700;
  color: #002855;
  text-transform: capitalize;
  cursor: pointer;
  transition: all .3s ease-in-out;
  max-width: 228px;
  margin: auto;
  border-radius: .25em;
  text-decoration: none;
  font-size: var(--button-font-size);
}

a.button:hover, a.button:focus  {
  background-color: var(--link-hover-color);
  background-image:url('/media_12de200726a79fbc39c47cf6a4be6ca9b2c5dbf0b.png?width=521&height=112&format=webply&optimize=medium');
  color:#002855;
  cursor: pointer;
  text-decoration: none;
  border-radius: .25em;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

body.about main .section {
  padding: 0 16px;
}

@media (min-width: 900px) {
  .section > div {
    max-width: 1500px;
    margin: auto;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

a.navigation {
  color: var(--navigation-text-color);
  text-decoration: none;
  position: relative;
}

a.navigation:hover {
  color: var(--navigation-text-color);
}

a.navigation::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.125rem;
  bottom: -0.25rem;
  left: 0;
  background-color: var(--navigation-text-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a.navigation:hover::after {
  transform: scaleX(1);
}

ul, li {
  list-style: none;
  font-size: var(--heading-font-size-m);
  padding: 8px 0;
}

ul {
  margin-left: 40px;
  margin-bottom: 30px;
}

.default-content-wrapper > picture:only-child {
  display: flex;
}

.default-content-wrapper > picture:only-child > img {
  max-width: 130px;
  margin: 0 auto;
}

.section.curator-feed {
  padding: 0;
}

.section.curator-feed > div {
  max-width: unset;
}

/** Themes */
body.templates-cocktail main div.section:not(.ageverification-container) {
  padding: 0;
  margin: 0 2.25rem;
}

body.cocktails main div.section:not(.hero-container, .ageverification-container) {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 30px auto 0;
}

body.cocktails main div.section:not(.hero-container, .ageverification-container) > div {
  padding: 0;
  margin: 0 0.625rem;
}

body.cocktails main h1 {
  margin-top: 0;
}

body.cocktails main h2 {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

body.templates-cocktail main .creator-info p {
  margin: 0;
  padding: 0;
}

body.cocktails main div.section.featured-container p {
  margin-bottom: 35px;
  max-width: 800px;
}

body.templates-cocktail main h1 {
  margin: 2.5rem 0;
}

body.templates-cocktail main h2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  margin: 0;
  font-size: var(--heading-font-size-l);
  color: var(--highlight-text-color);
}

body.templates-cocktail main ul {
  padding: 0;
  margin-top: 0;
}

body.templates-cocktail main li {
  padding: 0.5rem 0;
  margin-top: 0;
  font-size: var(--body-font-size-m);
  color: var(--columns-text-color);
}

body.templates-cocktail main .columns-img-col {
  align-self: flex-start;
}

body.templates-cocktail main .columns-img-col img {
  border-radius: 10px;
}

body.templates-cocktail main .creator {
  display:flex;
  flex-direction: row;
  margin: 0 0 0 2.5rem;
}

body.templates-cocktail main .creator-img {
  margin: 0 1.25rem 0 0;
}

body.templates-cocktail main .creator-img img {
  width: 100px;
  height: auto;
  margin: 0;
  border-radius: 10px;
}

body.templates-cocktail main .creator-info {
  padding-top: 0;
  margin: 0;
}

body.templates-cocktail main .creator-info li {
  color: var(--text-color);
  font-weight: var(--font-weight-m);
  line-height: var(--font-line-height-s);
  font-size: var(--button-font-size);
  padding: 0;
}

body.templates-cocktail main .creator-info a {
  font-weight: var(--font-weight-s);
  line-height: var(--font-line-height-m);
  color: var(--text-color);
  text-decoration: underline;
  font-size: var(--button-font-size);
}

@media (min-width: 480px) {
  body.templates-cocktail main div.section:not(.ageverification-container) {
    max-width: 420px;
    margin: 0 auto;
  }
}

@media (min-width: 691px) {
  body.templates-cocktail main div.section:not(.ageverification-container) {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  body.templates-cocktail main h1 {
    padding-top: 0;
    padding-bottom: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }

  body.cocktails main div.section:not(.hero-container, .ageverification-container) {
    margin-top: 60px;
    max-width: 1500px;
  }

  body.cocktails body.templates-cocktail main div.section {
    max-width: 1500px;
  }

  body.cocktails main div.section:not(.hero-container, .ageverification-container) > div {
    margin: 0 10.18rem 0 12.5rem;
  }

  body.templates-cocktail main h2 {
    padding-top: 0;
  }
}

body.about main div.background>div>div>div>div:not(.columns-img-col) {
  background-color: rgb(126 156 191 / 15%);
  padding-left: 16px;
  padding-right: 16px;
}

body.about main div.smallimage img {
  width: 300px;
}

body.about main .smallimage .columns-img-col {
  max-width: 364px;
  margin: auto;
}

body:not(.cocktails, .templates-cocktail, .about) main div.section.columns-container .columns > div {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
}

@media (min-width: 600px) {
  body.about main div.section {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1000px) {
  body.about main .smallimage .columns-img-col {
    margin: 0;
  }

  body.about main .smallimage .columns-img-col+div {
    max-width: 650px;
  }

  body.locator main div.section:not(.hero-container, .ageverification-container) > div {
    margin: 3.75rem 10.18rem 4.63rem 12.5rem;
  }

  body.about main div.background>div>div>div>div:not(.columns-img-col) {
    background-color: rgb(126 156 191 / 15%);
    margin-left: -200px;
    padding-left: 200px;
    padding-right: 15px;
    max-width: 450px;
  }

  body.about main .section.background .columns > div {
    gap: 0;
  }

  body:not(.cocktails, .templates-cocktail, .about) main div.section.columns-container .columns > div {
    padding: 0;
  }

  body.about main div.section {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
  }

  body.about main div.section > div:not(.quote-carousel-wrapper) > * {
    margin-left: 200px;
    margin-right: 200px;
  }

  body.about main .section.background .columns img {
    min-width: calc(100% + 52px);
    max-height: 750px;
  }

  body.about main div.section .faq-replace,
  body.about main div.section.smallimage > div > * {
    margin-right: 80px;
  }

  #faq-replace-answer-container {
    max-width: 650px;
  }
}

body.locator main div.section:not(.hero-container, .ageverification-container) {
  padding: 0;
  margin: 0 0.5rem;
}


main .section.curator-feed > div > h2 {
  font-size: var(--body-font-size-l);
}

body.cocktails main .section.featured-container {
  color: var(--text-color);
}
