.wheatley-mikmak {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  min-height: 850px;
}


.wheatley-mikmak #mikmak_embed__thumbnail_gallery {
	display: none !important
}

.wheatley-mikmak ul li {
	list-style: none
}

.wheatley-mikmak ul li img {
	margin: auto !important
}

.wheatley-mikmak ul li label {
	text-align: center
}

.wheatley-mikmak .mm-3aiRS img {
	height: 17px;
	max-width: 12px;
	margin-right: 13px
}

.wheatley-mikmak .mikmak_embed__online-btn {
	margin: 3px auto
}

.mikmak_embed__powered-by-logo {
	display: none
}